@import '/variable.less';

.tab-shell {
  --td-tab-bar-bg-color: #fff;
  --td-tab-bar-color: #667085;

  &.theme-dark {
    --td-tab-bar-bg-color: #1f242c;
    --td-tab-bar-color: #b3bac5;
  }
}

.custom-tab-bar {
  --td-tab-bar-height: @tab-bar-height;

  &-item {
    margin: 0;
    padding: 16rpx 24rpx;
  }
}
